.page[b-mczmdrk1zx] {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar[b-mczmdrk1zx] {
    flex-shrink: 0;
}

main[b-mczmdrk1zx] {
    flex: 1 0 auto;
    padding: 20px;
}

.content[b-mczmdrk1zx] {
    max-width: 1200px;
    margin: 0 auto;
}