@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private string themeClass = "";
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var savedTheme = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "theme");
            themeClass = savedTheme == "dark" ? "dark" : "light";
            StateHasChanged();
        }
    }
}